<form [formGroup]="skillForm" (ngSubmit)="onSubmit()">
    <div formArrayName="skills">
        <div *ngFor="let skill of skills.controls; let i = index" [formGroupName]="i" class="skill-entry">
            <!-- skill Name -->
            <label>Skill Name:</label>
            <input type="text" formControlName="skillName" />
            <div *ngIf="getControl(i, 'skillName')?.invalid && (getControl(i, 'skillName')?.touched || submitted)">
                <small *ngIf="getControl(i, 'skillName')?.errors?.['required']">Skill name is required.</small>
                <small *ngIf="getControl(i, 'skillName')?.errors?.['minlength']">Minimum 2 characters.</small>
            </div>

            <!-- Expirience -->
            <label>Experience (Years):</label>
            <input type="number" formControlName="expirience">

            <!-- error on Expirience -->
            <div *ngIf="getControl(i,'expirience')?.invalid &&(getControl(i,'expirience')?.touched||submitted)">

                <small *ngIf="getControl(i, 'experience')?.errors?.['required']">Experience is required.</small>
                <small *ngIf="getControl(i, 'experience')?.errors?.['min']">Min value is 0.</small>
                <small *ngIf="getControl(i, 'experience')?.errors?.['max']">Max value is 50.</small>

            </div>

            <label>Proficiency:</label>

            <select formControlName="proficiencyLevel">
                <option value="">Select</option>
                <option value="Beginner">Begineer</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Expert">Expert</option>

            </select>

            <div
                *ngIf="getControl(i, 'proficiencyLevel')?.invalid && (getControl(i, 'proficiencyLevel')?.touched || submitted)">
                <small>Proficiency level is required.</small>
            </div>

            <button type="button" (click)="removeSkill(i)" *ngIf="skills.length > 1">Remove</button>

            <hr />
        </div>

    </div>
    <button type="button" (click)="addSkill()">+ Add Skill</button>
    <button type="submit">Submit</button>


</form>
