<div class="p-fluid">
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">

        <div class="p-field">
            <label for="title">Title</label>
            <input id="title" type="text" pInputText formControlName="Title" />

        </div>

        <div class="p-field">
            <label for="author">Author</label>
            <input id="author" type="text" pInputText formControlName="Author" />
        </div>

        <div class="p-field">
            <label for="genre">Genre</label>
            <p-dropdown id="genre" [options]="genres" formControlName="Genres" placeholder="Select a Genre"></p-dropdown>
        </div>

        <div class="p-field">
            <label for="publishedDate">Published Date</label>
            <p-calendar id="publishedDate" formControlName="PublishedDate" dateFormat="mm/dd/yy"></p-calendar>
        </div>
        <div class="p-field-checkbox">
            <p-checkbox id="inStock" formControlName="inStock" binary="true"></p-checkbox>
            <label for="inStock">In Stock</label>
        </div>

        <div style="margin-top: 20px;">
            <button pButton type="submit" label="Submit" [disabled]="bookForm.invalid"></button>
        </div>

    </form>
</div>
