<div>
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">

        <div>
            <label>Title</label>
            <input type="text" formControlName="Title">

        </div>

        <div>
            <label>Author</label>
            <input type="text" formControlName="Author">
        </div>

        <div>
            <label>Genre</label>
            <select>
                <option value="">--Select Genre--</option>
                <option *ngFor="let genre of genres" value="genre">
                    {{genre}}
                </option>
            </select>
        </div>

        <div>
            <label>Published Date</label>
            <input type="date" formControlName="PublishedDate">
        </div>
        <div>
            <label>in Stock</label>
            <input type="checkbox" formArrayName="inStock">
        </div>

        
<div style="margin-top: 20px;">
    <button type="submit" [disabled]="bookForm.invalid">Submit</button>
<!--     <button type="button" (click)="onReset()">Reset</button> -->
  </div>


    </form>
</div>